.abc{
    background-color: bisque;
}
.ddd{
    margin-left: 50px;
    margin-top: 20px;
}
.lll{
  
    margin-top: 50px;
}
.def{
    width: 800px;
    background-color: bisque;
    margin-top: 80px;
    margin-left: 100px;
    height: 200px;
}
.eee{
    margin-left: 200px;
  
}
.yyy{
    width:500px;
    height: 50px;
    margin-left:100px ;
    margin-top: 50p;
    text-align: center;
}
.ppp{
    width: 100px;
    background-color: #e21134;
}